*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-size: 18px;
    font-family: "微软雅黑";
    background: #F5F3F2;
}
img{
    border: 0;
}
input{
    outline: none;
}
@mixin chuizhi{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}
@mixin shuiping{
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
}
@font-face{
    font-family: "iconfont";
}
.iconfont{
    font-family: "iconfont";
    font-size: 26px;
}
#header{
    height: 1.7rem;
//  padding: 20px;
    background: #668964;
    .header_1{
        padding: 5px 0 0 0; 
//      background: #fff;
//      width: 100%;
        position: relative;
        z-index: 100;
        img{
            width: 100%;
            color: #fff;
        }
    }
    .nav{
        width: 100%;
        height: 1.1rem;
//      background: red;
        overflow: hidden;
        line-height: 1.1rem;
        padding: 0 0.3rem;
        .nav-left{
            float: left;
            overflow: hidden;
             margin-top: 0.1rem;
             line-height: 0.9rem;
             color: #fff;
            .yu{
                float: left;
                width: 0.9rem;
                height: 0.9rem;
                
                text-align: center;
                border-radius:50% ;
                background: #E76663;
                font-size: 24px;
            }
            span{
                float: left;
                margin-left: 0.2rem;
            }
        }
        .nav-right{
            float: right;
            .iconfont{
                color: #fff;
                float: left;
                margin-left: 0.2rem;
            }
            .iconfont:nth-of-type(1){
                font-size: 30px;
                margin-top: 0.05rem;
            }
            .iconfont:nth-of-type(2){
                font-size: 30px;
            }
            .iconfont:nth-of-type(3){
                font-size: 30px;
            }
        }
    }
}
.box{
    width: 100%;
    height: auto;
//  position: relative;
}
.box li,.div1{
    width: 100%;
    padding: 0 0.4rem;
    height: 1rem;
    line-height: 1rem;
    position: relative;
    color: #262626;
    overflow: hidden;
    .li-left{
        @include chuizhi;
//      overflow: hidden;
        .iconfont{
            color: #AEAEAD;
            margin-right: 0.2rem;
            float: left;
        }
        .a{
//          display: block;
            float: left;
            width: 5rem;
            overflow: hidden;
            text-overflow: ellipsis;
//          overflow: hidden;
        }
    }
    .li-right{
        right: 0.4rem;
        @include chuizhi;
    }
    .delete{
        position: absolute;
//      top: 0.03rem;
        right: 0.3rem;
        transition: all .5s;
//      margin-top: 0.05rem;
    }
}
.done{
//  width: 6rem;
    .li-left{
        color:#A0A0B4;
        text-decoration:line-through;
    }
    
    .delete{
        color: red;
    }
}    
.one{
    .li-left{
        .iconfont{
            color: #4194DC;
        }
    }
}
.two{
    .li-left{
        .iconfont{
            color: #D94134;
            font-size: 25px;
        }
    }
}
#add{
    position: fixed;
    bottom: 0.5rem;
    left: 0;
    right: 0;
    margin: auto;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    background: #328AD6;
    text-align: center;
    line-height: 1.2rem;
    font-size: 50px;
    color: #fff;
}
#adds{
    opacity: 0;
    position: fixed;
    bottom: -6rem;
    left: 0;
    width: 100%;
    height: 6rem;
    line-height: 1rem;
    background: #fff;
    color: #262626;
    z-index: 1;
    padding: 0.3rem;
    transition: all 1s;
    textarea{
        outline: none;
        border: 0;
        border: 0;
        font-size: 16px;
        color: #878787;
//      text-align: left;
    }
    .biaoqing{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0 0.3rem;
        height: 1rem;
        span{
            display: block;
            float: left;
//          margin-left: ;
        }
        span:nth-of-type(1){
            margin-left: 0.1rem;
            font-size: 20px;
        }
        span:nth-of-type(2){
            margin-left: 0.1rem;
            font-size: 16px;
        }
        span:nth-of-type(3){
            margin-left: 0.3rem;
             font-size: 22px;
        }
        .wancheng{
            float: right;
        }
    }
}
.cenav{
    opacity: 0;
    position: fixed;
    left: -6rem;
    top: 0;
    height: 100%;
    width: 6rem;
    background: rgb(222,222,222);
    z-index: 10;
    padding: 0.3rem;
    transition: all 1s;
    .touxiang{
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
//      background: blue;
        margin-bottom: 1rem;
        margin-top: 1rem;
        img{
            width: 100%;
            border-radius:50% ;
        }
    }
    .all,.completed,.remind,.clearall{
        width: 100%;
        height: 0.8rem;
        text-align: left;
        line-height: 0.8rem;
        color: #262626;
        margin-top: 0.4rem;
        position: relative;
        font-size: 20px;
        border-bottom: 1px solid #AEAEAD;
    }
    .active{
        color: red;
    }
    .shezhi{
        position: absolute;
        bottom: 0;
        left: 0.3rem;
        height: 1rem;
        line-height: 1rem;
        width: 100%;
        font-size: 18px;
        span{
            float: left;
        }
        .iconfont{
            margin-right: 0.1rem;
        }
        .back{
            float: right;
            margin-right: 0.6rem;
        }
    }
}
.ani-delete{
    animation: delete .8s;
}
@keyframes delete{
    0%{
        transform:scaleY(1);
    }
    100%{
        transform: scaleY(0);
    }
}



















